* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}
body {
  background-color: #e2f3f5;
  font-family: poppins, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "hero hero hero "
    "main main main"
    "footer footer footer";
  height: 93vh;
}
header {
  grid-area: header;
  background-color: #0e153a;
  height: 10vh;
}
.logo {
  height: 70px;
  margin-top: 10px;
  margin-left: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  margin-top: 25px;
  margin-right: 25px;
}
header nav ul li {
  padding: 1em;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  margin-right: 10px;
}
/* Header / NAVBAR  ends ------------------------------------- */
footer {
  grid-area: footer;
  padding: 5px;
  background-color: #0e153a;
  height: 300px;
}
.footer-links,
.footer-contacts,
.footer-partners {
  height: 100px;
}
/* Footer ends ------------------------------------- */
