* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}
body {
  background-color: #e2f3f5;
  font-family: poppins, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header header header "
    "hero hero hero "
    "main main main "
    "footer footer footer";
  height: 93vh;
}
header {
  grid-area: header;
  background-color: #0e153a;
  height: 100px;
}
.logo {
  padding: 5px;
  height: 70px;
  margin-top: 10px;
  margin-left: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  margin-top: 25px;
  margin-right: 25px;
}
header nav ul li {
  padding: 1em;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  margin-right: 10px;
}
nav li a:hover {
  color: #e4960f;
  border-radius: 5px;
}
/* Header / NAVBAR  ends ------------------------------------- */
/* FOOTER ------------------------------------- */
footer {
  grid-area: footer;
  background-color: #0e153a;
  height: 300px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-box1 {
  margin-top: 35px;
  width: 230px;
  height: 160px;
}
.footer-box2 {
  margin-top: 30px;
  height: 160px;
}
.footer-box3 {
  margin-top: 30px;
  width: 270px;
  height: 160px;
}
/* BOX1--------------------------------- */
.footer-box1 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box1 li {
  list-style: none;
  padding-bottom: 13px;
}
.footer-nav-links {
  margin-top: 10px;
}
.footer-nav-link {
  margin: 30px;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  color: whitesmoke;
}
.footer-box1 li a:hover {
  color: #e4960f;
  border-radius: 5px;
}
/* BOX2----------------------------------- */

.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-contact-logos {
  display: flex;
  flex-direction: column;
}
.footer-contact-txt {
  display: flex;
  flex-direction: column;
}

.footer-box2 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 19px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box2 p {
  margin-top: 10px;
  margin-left: 15px;
  text-align: left;
  padding-bottom: 19px;
  color: whitesmoke;
  font-size: 14px;
}

.footer-contact-img {
  display: block;
  margin: auto 0;
  margin-top: 5px;
  margin-bottom: 19px;
  height: 30px;
}

/* BOX3----------------------------------- */
.footer-box3 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}

.footer-map {
  height: 200px;
}
/* Footer ends ------------------------------------- */

/* Main hem start--------------------------- */

.hero {
  height: 550px;
  width: 100vw;
  background-image: url(/img/pexels-startup-stock-photos-7075.jpg);
  background-size: cover;
  background-attachment: fixed;
}
main {
  grid-area: main;
}
.cards-logo {
  height: 100px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.knapp-hem {
  margin-top: 170px;
  margin-left: 90px;
  width: 130px;
  height: 30px;
  background-color: #3d5bf195;
  border-radius: 5px;
  border-style: none;
  color: whitesmoke;
}
.cards {
  display: flex;
  padding: 2em;
}

.card-one {
  height: 35em;
  background-color: #0e153a;
  color: white;
  padding: 35px;
}

.card-two,
.card-three {
  height: 35em;
  margin-left: 2em;
  background-color: #0e153a;
  color: white;
  padding: 35px;
}
.partners {
  display: flex;
  justify-content: space-around;

  margin-bottom: 1em;
  height: 100px;
  padding: 5px;
  background-color: rgb(89, 155, 111);
}
.partner-one,
.partner-two,
.partner-three,
.partner-four {
  margin: 5px 0;
  height: 100px;
}
