* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}
body {
  background-color: #e2f3f5;
  font-family: poppins, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header header header "
    "hero hero hero "
    "main main main "
    "footer footer footer";
  height: 93vh;
}
header {
  grid-area: header;
  background-color: #0e153a;
  height: 100px;
}
.logo {
  padding: 5px;
  height: 70px;
  margin-top: 10px;
  margin-left: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  margin-top: 25px;
  margin-right: 25px;
}
header nav ul li {
  padding: 1em;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  margin-right: 10px;
}
nav li a:hover {
  color: #e4960f;
}
/* Header / NAVBAR  ends ------------------------------------- */

/* Main hem start--------------------------- */

.hero {
  grid-area: hero;
  height: 550px;
  background-image: url(/img/pexels-startup-stock-photos-7075.jpg);
  background-size: cover;
  background-attachment: fixed;
}
main {
  grid-area: main;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "card-one card-two card-three";
  padding: 5px;
}
.cards-logo {
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
}
.cards-btn {
  width: 150px;
  height: 40px;
  background-color: #3d5bf195;
  border-radius: 5px;
  border-style: none;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.cards-btn a {
  color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
}
.cards-btn a:hover {
  color: #e4960f;
}
.cards-title h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  color: white;
}
.cards-txt p {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  font-weight: 300;
  color: white;
}
.card-one,
.card-two,
.card-three {
  background-color: #0e153a;
  padding: 35px;
  margin: 10px 10px 20px 10px;
}

.partners {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 1px;
  background-color: #b1badab9;
}

.partner-img {
  height: 50px;
}

/* FOOTER ------------------------------------- */
footer {
  grid-area: footer;
  background-color: #0e153a;
  height: 300px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-box1 {
  margin-top: 35px;
  width: 230px;
  height: 160px;
}
.footer-box2 {
  margin-top: 30px;
  height: 160px;
}
.footer-box3 {
  margin-top: 30px;
  width: 270px;
  height: 160px;
}
/* BOX1--------------------------------- */
.footer-box1 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box1 li {
  list-style: none;
  padding-bottom: 13px;
}
.footer-nav-links {
  margin-top: 10px;
}
.footer-nav-link {
  margin: 30px;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  color: whitesmoke;
}
.footer-box1 li a:hover {
  color: #e4960f;
  border-radius: 5px;
}
/* BOX2----------------------------------- */

.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-contact-logos {
  display: flex;
  flex-direction: column;
}
.footer-contact-txt {
  display: flex;
  flex-direction: column;
}

.footer-box2 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 19px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box2 p {
  margin-top: 10px;
  margin-left: 15px;
  text-align: left;
  padding-bottom: 24px;
  color: whitesmoke;
  font-size: 14px;
}

.footer-contact-img {
  display: block;
  margin: auto 0;
  margin-top: 5px;
  margin-bottom: 19px;
  height: 30px;
}

/* BOX3----------------------------------- */
.footer-box3 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}

.footer-map {
  width: 250px;
}
/* Footer ends ------------------------------------- */

/* 
  1. Breda desktop skärmar: större än 1200px
  2. Mindre desktop skärmar: mellan 1200px och 960px
  3. Tablets såsom Ipad: mellan 960px och 768px
  4. Mobiltelefoner: mindre än 768px 
  */
/* MEDIA  */
@media screen and (max-width: 1200px) {
  .partner-img {
    height: 30px;
  }
}
/* Tablets såsom Ipad: mellan 960px och 768px */
@media screen and (max-width: 960px) {
  .logo {
    padding: 5px;
    height: 55px;
    margin-top: 20px;
    margin-left: 25px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card-one" "card-two" "card-three";
    padding: 5px;
  }

  .footer-map {
    width: 200px;
  }
}
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* Mobiltelefoner: mindre än 768px */
@media screen and (max-width: 768px) {
  .logo {
    padding: 5px;
    height: 40px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .partner-img {
    height: 20px;
  }
  .footer-map {
    width: 150px;
  }
  .footer-box2 p {
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    padding-bottom: 24px;
    color: whitesmoke;
    font-size: 12px;
  }
}
