* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}
body {
  background-color: #e2f3f5;
  font-family: poppins, sans-serif;
}
.container {
  
  display: table-row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  ".sections1 .sections1 .sections1"
  ".sections2 .sections2 .sections2"
  ".sections3 .sections3 .sections3"
  "footer footer footer"
  
}
header {
  grid-area: header;
  background-color: #0e153a;
  height: 15vh;
}
.logo {
  height: 70px;
  margin-left: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  margin-top: 25px;
  margin-right: 25px;
}
header nav ul li {
  padding: 1em;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  margin-right: 10px;
}
/* Header / NAVBAR  ends ------------------------------------- */
.sections1,
.sections3 {
  padding: 50px ;
  border: 2px solid #000;
  margin-bottom: 10px;
  color: #e3dddd;
  background-color: #2f3f52;
  }
  .sections2 {
    padding: 50px ;
    border: 2px solid #000;
    margin-bottom: 10px;
    color: #e3dddd;
    background-color:#0e153a ;
    }
  img {
  float: left; 
  margin: 10px;
  width: 300px;
    height: 300px;
  }
  h1{
  padding-top: 30px;
  }
footer {
  grid-area: footer;
  padding: 5px;
  background-color: #0e153a;
  height: 300px;
}
.footer-links,
.footer-contacts,
.footer-partners {
  height: 100px;
}
/* Footer ends ------------------------------------- */
