* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}
body {
  background-color: #e2f3f5;
  font-family: poppins, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "header"
    "historia"
    "sections2"
    "affarside "
    "footer";
  height: 100vh;
}
header {
  grid-area: header;
  background-color: #0e153a;
  height: 100px;
}
.logo {
  padding: 5px;
  height: 70px;
  margin-top: 10px;
  margin-left: 25px;
}
.logo2 {
  float: right;
  padding: 5px;
  height: 70px;
  margin-top: 10px;
  margin-left: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  margin-top: 25px;
  margin-right: 25px;
}
header nav ul li {
  padding: 1em;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  margin-right: 10px;
}
nav li a:hover {
  color: #e4960f;
  border-radius: 5px;
}
/* Header / NAVBAR  ends ------------------------------------- */
/* FOOTER ------------------------------------- */
footer {
  grid-area: footer;
  background-color: #0e153a;
  height: 300px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-box1 {
  margin-top: 35px;
  width: 230px;
  height: 160px;
}
.footer-box2 {
  margin-top: 30px;
  height: 160px;
}
.footer-box3 {
  margin-top: 30px;
  width: 270px;
  height: 160px;
}
/* BOX1--------------------------------- */
.footer-box1 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box1 li {
  list-style: none;
  padding-bottom: 13px;
}
.footer-nav-links {
  margin-top: 10px;
}
.footer-nav-link {
  margin: 30px;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  color: whitesmoke;
}
.footer-box1 li a:hover {
  color: #e4960f;
  border-radius: 5px;
}
/* BOX2----------------------------------- */

.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-contact-logos {
  display: flex;
  flex-direction: column;
}
.footer-contact-txt {
  display: flex;
  flex-direction: column;
}
.footer-box2 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 19px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box2 p {
  margin-top: 10px;
  margin-left: 15px;
  text-align: left;
  padding-bottom: 24px;
  color: whitesmoke;
  font-size: 14px;
}
.footer-contact-img {
  display: block;
  margin: auto 0;
  margin-top: 5px;
  margin-bottom: 19px;
  height: 30px;
}
/* BOX3----------------------------------- */
.footer-box3 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-map {
  width: 250px;
}
/* Footer ends ------------------------------------- */
.historia {
  margin-top: 1px;
  grid-area: historia;
  padding: 80px;
  margin-bottom: 1px;
  color: #e3dddd;
  background-color: #2f3f52;
}
.sections2 {
  display: flex;
  grid-area: sections2;
  padding: 80px;
  margin-bottom: 1px;
  color: #e3dddd;
  background-color: #0e153a;
}
.section2-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section2-img img {
  margin-right: 20px;
  height: 40px;
}
.affarside {
  grid-area: affarside;
  padding: 80px;
  margin-bottom: 1px;
  color: #e3dddd;
  background-color: #2f3f52;
}
.profil-bild {
  height: 200px;
  float: left;
  margin: 10px;
}
/* On screens that are max 768px wide or less, */
@media screen and (max-width: 768px) {
  .historia {
    flex-direction: row;
    display: grid;
    flex-wrap: wrap;
  }
  .sections2 {
    flex-direction: row;
    display: flex;
  }
  .affarside {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
  .section2-img {
    flex-direction: column;
  }
  .section2-img img {
    margin-right: 20px;
    height: 40px;
  }
  .profil-bild {
    float: right;
  }
}
/* On screens that are max 960px wide or less, */
@media only screen and (max-width: 960px) {
  .historia {
    flex-direction: row;
    display: grid;
    flex-wrap: wrap;
  }
}
/* On screens that are max 1200px wide or less, */
@media only screen and (max-width: 1200px) {
  .historia {
    margin-top: 1px;
    grid-area: historia;
    padding: 80px;
    margin-bottom: 1px;
    color: #e3dddd;
    background-color: #2f3f52;
  }
  .sections2 {
    display: flex;
    grid-area: sections2;
    padding: 80px;
    margin-bottom: 1px;
    color: #e3dddd;
    background-color: #0e153a;
  }
  .section2-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .section2-img img {
    margin-right: 20px;
    height: 40px;
  }
  .affarside {
    grid-area: affarside;
    padding: 80px;
    margin-bottom: 1px;
    color: #e3dddd;
    background-color: #2f3f52;
  }
  .profil-bild {
    float: left;
    margin: 10px;
  }
}
