* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}
body {
  background-color: #e2f3f5;
  font-family: poppins, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}
header {
  grid-area: header;
  background-color: #0e153a;
  height: 100px;
}
.logo {
  padding: 5px;
  height: 70px;
  margin-top: 10px;
  margin-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  margin-top: 25px;
  margin-right: 25px;
}
header nav ul li {
  padding: 1em;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  margin-right: 10px;
}
nav li a:hover {
  color: #e4960f;
  border-radius: 5px;
}
/* Header / NAVBAR  ends ------------------------------------- */

/* main börjar-----------------------------------------------------  */
main {
  grid-area: main;
}
main h1 {
  font-size: 32px;
  font-weight: 200;
}
main h4 {
  font-size: 24px;
  font-weight: 200;
}

main p {
  font-size: 16px;
  font-weight: 300;
}

.infocard {
  grid-area: infocard;
  padding: 80px 220px 80px 220px;
  margin-top: 1px;
  color: white;
  background-color: #0e153a93;
  justify-content: center;
}

.content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.portcard-1,
.portcard-2,
.portcard-3,
.portcard-4 {
  display: flex;
  margin: 10px 20px;
}

.portcard {
  flex: 1 1 250px;
}

.portcard-pic {
  display: flex;
  max-height: 250px;
  width: auto;
  border-radius: 5px;
}
.portcard {
  background-color: #0e153a;
  color: white;
  max-height: 250px;
  margin-left: 20px;
  border-radius: 5px;
}

.portcard-1 p,
.portcard-2 p,
.portcard-3 p,
.portcard-4 p {
  padding: 20px;
}

.recention-card {
  grid-area: recention-card;
  width: 100%;
  margin-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
}

.card-one {
  display: flex;
  width: 50%;
}
#card-img {
  width: 100%;
}
.card-two {
  float: right;
  width: 50%;
  color: white;
  background-color: #0e153a93;
  text-align: left;
}
.card-two h1 {
  font-size: 3.9em;
  padding: 50px 40px 2px 40px;
}
.card-two p {
  font-size: 1.1em;
  padding: 20px 40px 0px 40px;
  margin-bottom: 20px;
}
.card-btn a {
  color: whitesmoke;
  background-color: #3d5bf195;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  display: block;

  width: 100px;
  margin-left: 40px;
}
.card-btn a:hover {
  color: whitesmoke;
  background-color: #e4960f;
}

/* main slutar-----------------------------------------------------  */

/* FOOTER ------------------------------------- */
footer {
  grid-area: footer;
  background-color: #0e153a;
  height: 300px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-box1 {
  margin-top: 35px;
  width: 230px;
  height: 160px;
}
.footer-box2 {
  margin-top: 30px;
  height: 160px;
}
.footer-box3 {
  margin-top: 30px;
  width: 270px;
  height: 160px;
}
/* BOX1--------------------------------- */
.footer-box1 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box1 li {
  list-style: none;
  padding-bottom: 13px;
}
.footer-nav-links {
  margin-top: 10px;
}
.footer-nav-link {
  margin: 30px;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  color: whitesmoke;
}
.footer-box1 li a:hover {
  color: #e4960f;
  border-radius: 5px;
}
/* BOX2----------------------------------- */

.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-contact-logos {
  display: flex;
  flex-direction: column;
}
.footer-contact-txt {
  display: flex;
  flex-direction: column;
}

.footer-box2 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 19px;
  color: whitesmoke;
  font-size: 20px;
}
.footer-box2 p {
  margin-top: 10px;
  margin-left: 15px;
  text-align: left;
  padding-bottom: 24px;
  color: whitesmoke;
  font-size: 14px;
}

.footer-contact-img {
  display: block;
  margin: auto 0;
  margin-top: 5px;
  margin-bottom: 19px;
  height: 30px;
}

/* BOX3----------------------------------- */
.footer-box3 h3 {
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 20px;
}

.footer-map {
  width: 250px;
}
/* Footer ends ------------------------------------- */

/* @media query ------------------------------------- */

/* midre desktop skärmar 960-1200 */
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .infocard {
    grid-area: infocard;
    padding: 60px 150px 60px 150px;
  }
}
/* Tablet skärmar 768-960 */
@media screen and (min-width: 768px) and (max-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .infocard {
    grid-area: infocard;
    padding: 70px 120px 70px 120px;
  }
}

/* Mobil skärmar max 768 */
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .infocard {
    grid-area: infocard;
    padding: 50px 80px 50px 80px;
  }
}
